<!doctype html>
<html lang="en" class="perfect-scrollbar-on">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bla.css') }}">
        <link rel="icon" type="image/jpg" sizes="32x32" href="{{ url_for('static',filename='images/favicon.jpg') }}">
        
        <title>
            Site Safety Detection
        </title>

        <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        <link href="https://appsrv1-147a1.kxcdn.com/black-dashboard/css/nucleo-icons.css" rel="stylesheet">

    </head>
      
    <body class style>
        <div class="wrapper">
            <div id="my_sidebar" class="sidebar">  
                <div class="sidebar-wrapper ps">  
                    <div class="closebtn" onclick="closeNav()">
                        ×
                    </div>
                    <div class="logo" style="padding-right: 100px; padding-bottom: 20px;">
                        <img src="{{ url_for('static',filename='images/logo.png') }}" alt="Logo_Viu_More">
                    </div>
                    <ul class="nav">
                        <li class = "active">
                            <a href="/">
                            <i class="tim-icons icon-chart-pie-36"></i>
                            <p>My Dashboard</p>
                            </a>
                        </li>
                        <li class>
                            <a href="/livestreams_overview/1">
                            <i class="tim-icons icon-atom"></i>
                            <p>Overview Livestreams</p>
                            </a>
                        </li>
                        <li class>
                            <a href="/my_cameras">
                            <i class="tim-icons icon-settings-gear-63"></i>
                            <p>My Cameras</p>
                            </a>
                        </li>
                    </ul>
                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                    </div>
                    <div class="ps__rail-y" style="top: 0px; right: 0px;">
                        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                    </div>
                </div>
            </div>

            <div id="open_sidebar_button"></div>
                    <button class="openbtn" onclick="openNav()"><b>></b></button>
            </div>

            <div id="main">
                <div class="main-panel ps">
                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navigation">
                            <ul class="navbar-nav ml-auto">
                                <li class>
                                    <a href="#">
                                        <div class="photo">
                                            <img src="{{ url_for('static',filename='images/BLA.jpg') }}" alt="Profile Photo">
                                        </div>
                                    </a>
                                </li>
                                <li class>
                                    <a href="#">Log Out</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" data-dashlane-rid="88b86deec8f4a1ad">
                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH" data-dashlane-rid="22b55a4010048a72">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-dashlane-rid="5692c587711cc0f2">
                            <i class="tim-icons icon-simple-remove"></i>
                        </button>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- End Navbar -->
                <div class="content">
                    <h1>Viu More Site Safety Detection - Dashboard</h1>
                    <h3>Overview Today's Alerts - {{today_formatted}}</h3>
                    <div class="table-responsive ps">
                        <table>
                            <tbody>
                                {% set count = namespace(value=0) %}
                                {%for j in range(0, full_rows)%}
                                <tr> 
                                    {%for i in range(0 + count.value, 4 + count.value)%}
                                    <td>
                                        <a class="card card-header" href="/livestream/{{camera_list[i]}}" style="width: 75%;">
                                            <h5 class="card-category">{{camera_list[i]}}</h5>
                                            <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> {{todays_alert_values[i]}}</h3>
                                            {% if delta[i] > 0 %}
                                            <h4 class="card-title"><i style="color: #FF0000" class="tim-icons icon-minimal-up"></i> +{{delta[i]}} vs yesterday</h4>
                                            {% elif delta[i] == 0 %}
                                            <h4 class="card-title"><i class="tim-icons icon-minimal-right text-primary"></i> {{delta[i]}} vs yesterday</h4>
                                            {% elif delta[i] < 0 %}
                                            <h4 class="card-title"><i style="color: #00FF00" class="tim-icons icon-minimal-down"></i> {{delta[i]}} vs yesterday</h4>
                                            {% endif %}
                                            {% set count.value = count.value + 1 %}
                                        </a> 
                                    </td>
                                    {%endfor%}
                                </tr>
                                {%endfor%}
                                <tr> 
                                    {%for i in range(0 + count.value, len)%}
                                    <td>
                                        <a class="card card-header" href="/livestream/{{camera_list[i]}}" style="width: 75%;">
                                            <h5 class="card-category">{{camera_list[i]}}</h5>
                                            <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> {{todays_alert_values[i]}}</h3>
                                            {% if delta[i] > 0 %}
                                            <h4 class="card-title"><i style="color: #FF0000" class="tim-icons icon-minimal-up"></i> +{{delta[i]}} vs yesterday</h4>
                                            {% elif delta[i] == 0 %}
                                            <h4 class="card-title"><i class="tim-icons icon-minimal-right text-primary"></i> {{delta[i]}} vs yesterday</h4>
                                            {% elif delta[i] < 0 %}
                                            <h4 class="card-title"><i style="color: #00FF00" class="tim-icons icon-minimal-down"></i> {{delta[i]}} vs yesterday</h4>
                                            {% endif %}
                                        </a> 
                                    </td>
                                    {%endfor%}
                                </tr>
                            </tbody>
                        </table>
                    </div>        
                </div>
            </div>
        </div>
    </body>

    <script>
        function closeNav() {
        document.getElementById("my_sidebar").style.width = "0px";
        document.getElementById("main").style.marginLeft= "0px";
        document.getElementById("open_sidebar_button").style.marginLeft= "0px";
        }

        function openNav() {
        document.getElementById("my_sidebar").style.width = "300px";
        document.getElementById("main").style.marginLeft = "300px";
        document.getElementById("wrapper").style.width = "calc(100vh-300px)";
        }
    </script>

</html>